body {
background-image: url(https://cdn.wallpapersafari.com/15/70/T42fjF.jpg);
background-size: cover;
color: white;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

 body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    filter: blur(2px); /* Adjust the blur radius as needed */
    z-index: -1; /* Ensure the blurred background stays behind content */
}

.content > div {
  clear: both; /* Clear the float to force the divs to stack vertically */
  margin-bottom: 20px; /* Add some margin between each div */
}

.container {
position: relative;
}

.line {
    width: 100%;
    height: 5px;
  background-color: white;
  margin: 10px auto;



}
.menu {
display: none;
position: absolute;
top: 60px;
left: 0;
background-color: black;
width: 200px;
}



.menu ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.menu ul li {
   padding: 10px;
   text-align: center;
}

.menu ul li a {
text-decoration: none;
color: #fff;
display: block;
}


.content {
  display: flex; /* Use flexbox */
  align-items: flex-start;
  padding: 20px;
   margin-left: 200px;

}

.content h2 {
color: white;
}


.content p {
color: white;
}


.menu-show {
 display: block !important;
}



h2{
  margin: 0;

  text-align: center;

  font-size: 80px;

  font-family: "Calibri";

}



h3{

  display: flex;

  flex-wrap: wrap;

  font-size: 40px;

  font-family: "Calibri";

}



h4{

  margin: 0;

  text-align: center;

  font-size: 60px;

  font-family: "Calibri"

}


.gallery{
right:300px;
}



#Team {
  background-image: url("https://e0.pxfuel.com/wallpapers/440/807/desktop-wallpaper-purple-galaxy-dark-purple-galaxy.jpg");
}


.video-and-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-and-team-container > div {
    flex: 1;
    margin: 10px;
}


#home{
display: block;
}

.menu-hitbox {
    cursor: pointer; /* optional: change cursor to pointer to indicate clickability */
    display: block;
  position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;

}

a{
color:#009FFA;
  top: 20px;
  font-size:50px
}